<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>covid19-informator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body style="background-color:#f1faee; padding-bottom: 70px;">

<nav class="navbar navbar-light" style="background-color: #e63946;">
    <div class="container-fluid">
        <a class="navbar-brand bi bi-info-square" href="#">
            covid19-informator
        </a>
    </div>
</nav>

<div class="container mt-3 mb-3">
    <div class="row row-cols-4 justify-content-around">
        <div class="col">
            <div class="card text-center border-secondary" style="background-color: #a8dadc;">
                <div class="card-header">
                    Confirmed cases
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ data['Confirmed'] | int }}</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center border-secondary" style="background-color: #a8dadc;">
                <div class="card-header">
                    Deaths
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ data['Deaths'] | int }}</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center border-secondary" style="background-color: #a8dadc;">
                <div class="card-header" data-bs-toggle="tooltip" data-bs-placement="bottom"
                     title="Incidence Rate = cases per 100,000 persons">
                    Incidence Rate
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ '{:.2f}'.format(data['Incident_Rate']) }}</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center border-secondary" style="background-color: #a8dadc;">
                <div class="card-header" data-bs-toggle="tooltip" data-bs-placement="bottom"
                     title="Case-Fatality Ratio (%) = Number recorded deaths / Number cases">
                    Case-Fatality Ratio (%)
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ '{:.2f}'.format(data['Case_Fatality_Ratio']) }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <form>
        <div class="input-group mt-3 mb-3">
            <span class="input-group-text bi bi-calendar3" id="basic-addon1"></span>
            <input type="text" id="datepicker" aria-label="Datepicker">
            <select class="form-select" aria-label="Default select example" data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Choose the region">
                <option selected value="1">Whole country</option>
                <option value="1">Cherkasy Oblast</option>
                <option value="2">Chernihiv Oblast</option>
                <option value="3">Chernivtsi Oblast</option>
                <option value="3">Crimea Republic</option>
                <option value="3">Dnipropetrovsk Oblast</option>
                <option value="3">Donetsk Oblast</option>
                <option value="3">Ivano-Frankivsk Oblast</option>
                <option value="3">Kharkiv Oblast</option>
                <option value="3">Kherson Oblast</option>
                <option value="3">Khmelnytskyi Oblast</option>
                <option value="3">Kiev</option>
                <option value="3">Kiev Oblast</option>
                <option value="3">Kirovohrad Oblast</option>
                <option value="3">Luhansk Oblast</option>
                <option value="3">Lviv Oblast</option>
                <option value="3">Mykolaiv Oblast</option>
                <option value="3">Odessa Oblast</option>
                <option value="3">Poltava Oblast</option>
                <option value="3">Rivne Oblast</option>
                <option value="3">Sevastopol</option>
                <option value="3">Sumy Oblast</option>
                <option value="3">Ternopil Oblast</option>
                <option value="3">Vinnytsia Oblast</option>
                <option value="3">Volyn Oblast</option>
                <option value="3">Zakarpattia Oblast</option>
                <option value="3">Zaporizhia Oblast</option>
                <option value="3">Zhytomyr Oblast</option>
            </select>
        </div>
    </form>
</div>
<div class="navbar fixed-bottom navbar-light" style="background-color: #1d3557;">
    <div class="container-fluid">
        <span class="navbar-text text-light mx-auto">
        ©2021 Copyright:
        <a href="https://github.com/AMProduction" class="link-light">AMProduction</a>
        </span>
    </div>
</div>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    $(function () {
        $("#datepicker").datepicker({
            showOtherMonths: true,
            defaultDate: -1,
            firstDay: 1,
            dateFormat: "mm-dd-yy",
            maxDate: -1,
            minDate: "-2y",
            changeMonth: true,
		    changeYear: true
        });
    });
</script>
</body>
</html>